<div class="container-fluid">
        <div class="card">
            <div class="header">
                <h4 class="title" align="center">Check out my GitHub at: <a href="https://github.com/keithatan">github.com/keithatan</a> for more!</h4>
                

            </div>
            <div class="content">
                    <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        <div class="row project-title-row"> 
                            <div class="col-md-8 project-title"> 
                                <p class="text-info">Dining Court Reccomendation App </p>
                            </div> 
                            <div class="col-md-4 project-date" align= "right"> C#

                            </div> 
                        </div>
                        
                        <div class="row project-desc"> 
                            <div class="col-md-1"></div> 
                        </div>
                        <p class="category">● Windows application that reccommends a dining court to Purdue based on the user's food preferences, displaying the corresponding dining court's menu</p>
                        <p class="category">● Utilizes Purdue's Menu API through XML</p>

                        <br />

                        <div class="row project-title-row"> 
                            <div class="col-md-8 project-title"> 
                                <p class="text-info">Speech Language and Audiology Online Clinic</p>
                            </div> 
                            <div class="col-md-4 project-date" align= "right"> HTML, CSS, PHP, mySQL, JQuery, Javascript

                            </div> 
                        </div>
                        
                        <div class="row project-desc"> 
                            <div class="col-md-1"></div> 
                        </div>
                        <p class="category">● Web application that teaches graduate students how to properly administer hearing tests by simulating the equipment through a front end interface and using preset patient profiles</p>
                        <p class="category">● Will be used in graduate level classes in Purdue's Audiology department</p>
                          
                        <br />

                        <div class="row project-title-row"> 
                            <div class="col-md-8 project-title"> 
                                <p class="text-info">Grocery List Mobile App (iOS) </p>
                            </div> 
                            <div class="col-md-4 project-date" align= "right">Swift 

                            </div> 
                        </div>
                        
                        <div class="row project-desc"> 
                            <div class="col-md-1"></div> 
                        </div>
                        <p class="category">
                                ● iOS application for keeping track of groceries that features an animated start screen and persistent data through the list created</p>
                
                        
                                <br />
                 
                                <div class="row project-title-row"> 
                                    <div class="col-md-8 project-title"> 
                                        <p class="text-info">Productivity Web Blocker</p>
                                    </div> 
                                    <div class="col-md-4 project-date" align= "right">Python 
        
                                    </div> 
                                </div>

                        
                                
                                <div class="row project-desc"> 
                                    <div class="col-md-1"></div> 
                                </div>
                                <p class="category">
                                        ● Wrote a python script that blocks certain websites such as Reddit, YouTube, etc. during certain times to increase productivity</p>
                            

                                        <br />
                 
                                        <div class="row project-title-row"> 
                                            <div class="col-md-8 project-title"> 
                                                <p class="text-info">Rap Name Generator for Alexa</p>
                                            </div> 
                                            <div class="col-md-4 project-date" align= "right">Javascript 
                
                                            </div> 
                                        </div>
        
                                
                                        
                                        <div class="row project-desc"> 
                                            <div class="col-md-1"></div> 
                                        </div>
                                        <p class="category">
                                                ● Created an Alexa skill for the Amazon Echo that generates a rap name for the user</p>
                                               <p class="category"> ● Winner of Amazon Echo Dot Student contest</p>
                                                <p class="category">● Published on Amazon Alexa Catalog</p>
                                    
                
            </div>
        </div>
    </div>