<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                
                <li>
                    <a href="https://www.linkedin.com/in/keithatan/">
                      LinkedIn
                    </a>
                </li>
                <li>
                    <a href="https://github.com/keithatan">
                       GitHub
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
             <p>Made with Angular <img id="lesicon" src="../../assets/img/angular2-logo.png" alt="Angular Logo"></p>
        </div>
    </div>
</footer>
