<div class="container">
    <div class="d-flex justify-content-center align-items-center">
      <div class="d-flex flex-column justify-content-center left">
        <div class="p-2 profile">
          <mdb-card class="animated fadeInUp"> 
              &nbsp;
              
                  <h2>Keith Tan</h2>
                
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <!-- Card img -->
              <div class="avatar mx-auto">
                <img src="https://avatars0.githubusercontent.com/u/25332140?s=460&v=4" class="myImage rounded-circle sm mx-auto d-block">
              </div>
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title>
                <h4>Software Engineer</h4>
              </mdb-card-title>
  
              <!--Text-->
              <mdb-card-text> I'm a university student entering my third year with an interest in software engineering</mdb-card-text>
  
              <div class="social-links">
                <a class="social-link" href="https://github.com/keithatan" rel="nofollow noopener noreferrer" target="_blank"><i
                    class="fa github" size="4x"></i></a>&nbsp;&nbsp;&nbsp;
                <a class="social-link" href="https://www.linkedin.com/in/keithatan" rel="nofollow noopener noreferrer"
                  target="_blank"><i class="fa linkedin"></i></a>&nbsp;&nbsp;&nbsp;
                <a class="social-link" href="mailto:keith.a.tan@gmail.com" rel="nofollow noopener noreferrer" target="_blank"><i
                    class="fa fa-envelope"></i></a>&nbsp;&nbsp;&nbsp;
              </div>
            </mdb-card-body>
          </mdb-card>
        </div>

        <div class="p-2 profile">
            <mdb-card class="animated fadeInUp">
    
              <!--Card content-->
              <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                  <h4>Skills</h4>
                </mdb-card-title>
                <div class="d-flex align-items-center justify-content-center mb-2">
                    <div class="d-flex flex-column">
                      <p>Python</p>
                      <p>C++/C</p>
                      <p>iOS</p>
                      <p>Angular</p>
                      <p>MongoDB</p>
                      <p>Javascript</p>
                    </div>
    
                    <div class="d-flex flex-column">
                      <p>Java</p>
                      <p>C#</p>
                      <p>Android</p>
                      <p>React</p>
                      <p>SQL</p>
                      <p>Node</p>
                    </div>


                </div>
                

                        
                        

    
              </mdb-card-body>
            </mdb-card>
          </div>
      </div>

      <div class="d-flex flex-column justify-content-center">

          <div class="p-2 profile">
              <mdb-card class="animated fadeInUp">
      
                <!--Card content-->
                <mdb-card-body>
                  <!--Title-->
                  <mdb-card-title>
                    <h2>Education</h2>
                  </mdb-card-title>
                  <div class="row" title="">
                      <div class="col-xs-2 col-sm-1 item-num item-num-00"></div>
                      <div class="col-xs-8 col-sm-10 item item-00">
                        <h5>Purdue University&nbsp;</h5>
                        <p><b style="color: inherit; font-size: 12px;">Bachelor of Science in Information Systems, Computer Science, Communications</b></p>
    
                      </div>
    
                    </div>
                </mdb-card-body>
              </mdb-card>
            </div>

        <div class="p-2">
            <mdb-card class="animated fadeInUp">
    
              <!--Card content-->
              <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                  <h2>Work Experience</h2>
                </mdb-card-title>
                &nbsp;
                <div class="row snippet-experiences-002">
                    <div class="col-xs-12">
                      <div class="row" title="">
                        <div class="col-xs-2 col-sm-1 item-num item-num-00"></div>
                        <div class="col-xs-8 col-sm-9 item item-00">
                          <h5>Envision Center for Computing Research &nbsp;<b style="color: inherit; font-size: 12px;">October 2018 - Present</b></h5>
                          <p>Software Engineer</p>
                        </div>
                        <div class="col-xs-2 item-image item-image-00 text-right"><img alt="Experiences 00 00@2x 504900dc09d82f711fdb54cf5763251cab5193a844856da978b2b8f3907ecd5a" data-no-retina="true" src="https://purdue.edu/studentemployment/ApplicationProcess/Application/MediaContent/0529599d-1374-42fb-b4f2-a9ddc45dc379" width="70"></div>
                      </div>
                      <div class="row" title="">
                          <div class="col-xs-2 col-sm-1 item-num item-num-00"></div>
                          <div class="col-xs-8 col-sm-9 item item-00">
                            <h5>JP Morgan Chase &nbsp;<b style="color: inherit; font-size: 12px;">May - August 2018</b></h5>
                            <p> Software Engineering Intern on Financial Data</p>
                          </div>
                          <div class="col-xs-2 item-image item-image-00 text-right"><img class="rounded-circle"alt="Experiences 00 00@2x 504900dc09d82f711fdb54cf5763251cab5193a844856da978b2b8f3907ecd5a" data-no-retina="true" src="https://careers.jpmorgan.com/careers/assets/images/favicons/jpmc/coast-icon-228x228.png" width="70"></div>
                        </div>
                        <div class="row" title="">
                            <div class="col-xs-2 col-sm-1 item-num item-num-00"></div>
                            <div class="col-xs-8 col-sm-9 item item-00">
                              <h5>Hello World! Hackathon &nbsp;<b style="color: inherit; font-size: 12px;">April - September 2018</b></h5>
                              <p>Worked on the development team to create the web application and tools for the hackathon & as a mentor to help hackathon groups finish projects</p>
                            </div>
                            <div class="col-xs-2 item-image item-image-00 text-right"><img alt="Experiences 00 00@2x 504900dc09d82f711fdb54cf5763251cab5193a844856da978b2b8f3907ecd5a" data-no-retina="true" src="https://challengepost-s3-challengepost.netdna-ssl.com/photos/production/challenge_thumbnails/000/424/707/datas/original.png" width="70"></div>
                          </div>


                      
                     
                      
                      <div class="row" title="">
                        <div class="col-xs-2 col-sm-1 item-num item-num-00"></div>
                        <div class="col-xs-8 col-sm-9 item item-00">
                          <h5>UnitedHealth Group/OptumRx &nbsp;<b style="color: inherit; font-size: 12px;">May - August 2017</b></h5>
                          <p>Software Engineering Intern on Integrated Voice Response&nbsp;</p>
                          <p><br></p>
                        </div>
                        <div class="col-xs-2 item-image item-image-00 text-right"><img class="rounded-circle" alt="Experiences 00 00@2x 504900dc09d82f711fdb54cf5763251cab5193a844856da978b2b8f3907ecd5a" data-no-retina="true" src="https://i0.wp.com/lh3.googleusercontent.com/KfH5VUmznZQ50_hDeMOLlpL1Pk1-hJ9KtxSXFB02EKqWeIQqRIWlQreDOn-MMavElUU=w185" width="70"></div>
                      </div>
                    </div>
                  </div>
              </mdb-card-body>
            </mdb-card>
          </div>


          <div class="p-2 profile">
              <mdb-card class="animated fadeInUp">
      
                <!--Card content-->
                <mdb-card-body>
                  <!--Title-->
                  <mdb-card-title>
                    <h2>Other Stuff</h2>
                  </mdb-card-title>
                  <div class="row" title="">
                      <div class="col-xs-2 col-sm-1 item-num item-num-00"></div>
                      <div class="col-xs-8 col-sm-10 item item-00">
                        <h6>Come Check Out My:&nbsp;</h6>
                        <p><button type="button" class="btn btn-primary">Portfolio</button>

                          <!-- Indicates caution should be taken with this action -->
                          <button type="button" class="btn btn-secondary">Photography</button>
                          
                          <!-- Indicates a dangerous or potentially negative action -->
                          <button type="button" class="btn btn-danger">YouTube</button></p>
    
                      </div>
    
                    </div>
                </mdb-card-body>
              </mdb-card>
            </div>
        </div>
  
  
  
    </div>
  </div>